* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body {
    font-family: 'Archivo', sans-serif;
    color: #000;
    background-color: #fff;
    line-height: 1.6;
}
.main-header {
    background-color: #fff;
    text-align:left;
}
.header-logo {
    font-size: 1.2rem;
    font-weight:bold;
    padding:20px;
    margin:0;
}
.header-banner {
    width:100%
    height:auto;
    display:block;
    transition:transform 0.6s
}
.header-banner:hover {
    transform:scale(1.02);
}
.main-nav {
    background-color:#fff;
    padding:15px 0;
    position:sticky;
    top:0;
    z-index:100;
}
.nav-container {
    max-width:1200px;
    margin:0 auto;
    padding:0 20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.nav-logo {
    font-size:1rem;
    font-weight:bold;
    color:#000;
}
.nav-links { 
    list-style:none;
    display:flex;
    gap:50px;
}
.nav-link a {
    text-decoration:none;
    color:#000;
    font-weight:400;
    font-size:0.95rem;
    transition:color 0.3s;
}
.nav-links a:hover {
    color:#359AB5;
    font-size:1rem;
}
.container {
    max-width:1200px;
    margin:0auto;
    padding:0 40px;
}
.introduction-section {
    padding: 80px 0 60px;
    background-color: #fff;
} 
.intro-text {
    text-align:justify;
    font-size:1.2rem;
    line-height:1.9;
    color:#000;
    max-width:850px;
    margin:0auto; 
}
.gallery-preview {
    padding: 40px 0 80px;
    background-color: #fff;
}
.gallery-grid {
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:60px;
}
.gallery-item {
    text-align: left;
}
.gallery-item img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    display: block;
    margin-bottom: 10px;
}
.gallery-item p {
    font-size: 0.85rem;
    color: #000;
    padding-left: 5px;
}
.nouveaute-section {
    padding: 80px 0;
}
.section-title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
    color: #000;
}
.nouveaute-content {
    display: flex;
    gap: 50px;
    align-items: flex-start;
}
.nouveaute-text {
    flex: 1.2;
}
.nouveaute-text p{
    text-align: justify;
    font-size: 1.3rem;
    line-height: 1.9;
    color: #000;
}
.nouveaute-image {
    flex: 1;
}
.nouveaute-image img{
    width: 100%;
    height: auto;
    display: block;
}
.creations-section {
    padding: 60px 0 80px;
    background-color: #fff;
}
.creations-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}
.creation-item {
    text-align: left;
}
.creation-item img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    margin-bottom: 10px;
}
.creation-item p {
    font-size: 0,85rem;
    color: #000;
    padding-left: 5px;
}
.main-footer {
    background-color: #359AB5;
    color: #000;
    padding: 60px 20px;
    text-align: center;
}
.footer-cta p {
    font-size: 0.95rem;
    margin-bottom: 25px;
    font-weight: 300;
}  






















