* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family-sans);
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: 1.6;
}
