* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: white;
    line-height: 1.6;
    text-align: justify;
}
.main-nav {
    background-color: white;
    border-bottom: none;
    padding: 15px 0;
    position: sticky; 
    top: 0;
    z-index: 10;
}
.nav-container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo {
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}
.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 0.9rem;
    letter-spacing: 1px;
    transition: color 0.3s;
}
.nav-links a:hover {
    color: black;
}
.introduction-section {
    padding: 60px 0;
    display: flex;
    justify-content: center;
}
.intro-text { 
    text-align: center;
    font-size: 1.1rem;
    color: black;
    width: 700px;
    padding: 15px;
    text-align: justify;
}
.gallery-preview {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-bottom: 80px;
    text-align: center;
}
.gallery1 {
    flex: 1; 
}
.gallery1 img {
    margin-bottom: 15px;
    aspect-ratio: 1 / 1; 
    object-fit: cover;
}
.gallery1 p {
    font-size: 0.9rem;
    color: var;
} 
.nouveaute-section {
    padding: 60px 0;
}
.nouveaute-content {
    display: flex;
    gap: 50px;
    align-items: center;
    margin-bottom: 40px; 
    margin-right: 25px;
}
.nouveaute-header strong h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.8rem;
    color: var(--text-color);
}
.image-thomas-guiho {
    flex: 1; 
    max-width: 400px; 
}
.preview-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: space-between;
    gap: 25px;
    padding: 60px 0;
    margin-left: 40px;
    margin-right: 40px;
}
.image-row {
  width: 100%;
    height: 180px;
    object-fit: cover;
}
.footer-title-top {
    font-size: 1.5rem;
    margin-top: 40px;
    margin-bottom: 20px;
}
.main-footer {
    background-color: #267890;
    color: white;
    padding: 50px 0;
    text-align: center;
}

.footer-title {
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 25px;
}

.footer-cta p {
    font-size: 1.1rem;
    margin-bottom: 15px;
}

.footer-cta form {
    display: flex;
    justify-content: center;
    max-width: 400px;
    margin: auto;
}

.footer-cta input {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.footer-cta button {
    padding: 12px 20px;
    border: none;
    background-color: #103d56;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: 0.3s;
}   





